@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0;
  text-align: center;
  font-weight: 600;
}
html{
	margin:auto 0;
	padding:0px; 
	height: 700px; 
}
body{  
	margin: 0 auto;
	padding: 0px; 
}
header{
	/*background-image: url(../images/damavand2.png);*/  
	width: 100%; 
	height: 150px;
	background-repeat: no-repeat;
	margin-bottom:100px;
}
header h1{
	float:right;
}

header button{
	float: right;
}

#logo{
	content:url(../images/damavand2.png);
	float: left;
}

#wrapper{   
	margin: 0 auto;   
} 
#projectBox{    
	margin: 40 auto;
 	background-color: rgba(150, 50, 50, 0.7);
	height: 1000px;
	width: 1000px;
	overflow: hidden;   
} 

#projectBox h1{
	text-align: left;
	margin-left:20px; 
}
#content{
	margin-left: 20px;
	height:230px; 
}
#mainPic{
	height: 500px;
	width: 700px;
	border:2px solid white;
	margin:0 auto;
}
